/* LAYOUT	*/
html{
	height: 100%;
}

.no-margin {
margin:0px;}

.no-padding{
padding:0px;}

.no-border{
border-color:transparent;}

.no-shadow{
	box-shadow: 0px, 0px, 0px;
}

.no-background{
	background-color: transparent;
}

.max-width{
max-width:100%;
height:auto;}

.dark-background{
background-color:#2F2F2F}

.grey-background{
background-color:#E6E6E6 }

.light-background{
background-color:#F8F8F8 }

.resimgbackground{
	background-image:url('../immagini/gi2.JPG');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #464646;
	}


/* FONTS	*/

@font-face {
	font-family: "Zona Pro";
	src: url('../fonts/ZonaPro-Bold.otf') format('opentype');
}
.zonapro {
font-family: 'Zona Pro', sans-serif;
}

@font-face {
	font-family: "Mohave";
	src: url('../fonts/Mohave-Bold.otf') format('opentype');
}
.mohave {
font-family: "Mohave", sans-serif;
}

.mohave-bold {
font-family: "Mohave", sans-serif;
font-weight: bold;
}

.opensans {
font-family: 'Open Sans', sans-serif;
}

.opensans-bold{
font-family: 'Open Sans', sans-serif;
font-weight: bold;
}

.opensans-justify{
font-family: 'Open Sans', sans-serif;
text-align: justify;
font-size: 15px;
}

.bold{
	font-weight: bold;
}


/* ELEMENTS	*/

.homepage {
box-shadow: 2px 0px 10px #A1A1A1 ;
}

.home-title {
color: #F8F8F8;
margin-bottom: 10px;
text-align: center;
text-shadow: 0px 0px 1px #A1A1A1;
font-size: 90px;
}

.home-text {
color: #F8F8F8;
text-align: center;
text-shadow: 0px 0px 1px #A1A1A1;
font-size: 22px;
}

.home-fix{
position: fixed;
top: 40%;
animation-duration: 1s;
animation-delay: 0.7s;
animation-iteration-count: 1;
}


/* ANIMATIONS	*/
