/*
INDEX CSS DOC:
  -SYSTEM
  -COMPONENTS
  -HOVER EFFECTS
  -MEDIA QUERIES
  -IMAGES
  -COLORS
*/

/*ACCESSIBILITY DISABLED*/
a:active,button:active {
  outline: none !important;
  border: none !important;
  border-style: none !important;
}
a:focus, button:focus {
  outline: none !important;
  border: none !important;
  border-style: none !important;
}
button::-moz-active-inner{
  outline: none !important;
  border: none !important;
  border-style: none !important;
}
button::-moz-focus-inner{
  outline: none !important;
  border: none !important;
  border-style: none !important;
}
/*ACCESSIBILITY DISABLED*/









/*SYSTEM */
html{
  height: 100%;
}
body{
  width: 100vw;
  margin: 0px;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  scroll-behavior: smooth;
  /*COLORS*/
  --dark: #00001A;
  --dark-hover: #5a5a6e /*#404054*/;
  --dark-active: #00001A;
  --shadow0: 0px 6px 16px rgba(0, 0, 24, 0.14);
  --shadow1: 0px 4px 16px rgba(0, 0, 50, 0.16);
  --shadow2: 0px 8px 16px rgba(0, 0, 50, 0.24);
  /*COLORS*/
  --bezierprova: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  --cubic: cubic-bezier(.65,.05,.36,1);
  /*SPACING*/
  --grid-margin-12: 10%;
  --grid-margin-8: 5%;
  --grid-margin-4: 5%;
  --offsetbio-12: 20vw;
  /*SPACING*/
}
/*TEXT STYLE*/
html{
  font-family: 'Montserrat', sans-serif;
  color: var(--dark);
}
.textlink{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-bottom:2px;
  color: var(--dark);
  transition: all ease-in-out .3s;
}
.menulink{
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  margin-top:40px;
  width: auto;
  /*text-transform: lowercase; */
  font-weight: 200;
  opacity: 1;
  color: var(--dark);
  text-decoration: none;
  pointer-events: auto;
  transition: all 0.3s var(--cubic);
}
.buttonlabel{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--dark);
  transition: all ease-in-out .3s;
}
.menulink-selected{
  color: var(--dark-hover) !important;
}
.menulink::after {
    content: '';
    display: block;
    height: 1px;
    background-color: var(--dark-hover);
    width: auto;
    transform-origin: 50%;
    transform: scaleX(0);
    transition: all 0.6s var(--cubic);
  }
.title{
  font-size: 36px;
  font-weight: 300;
  line-height: 1.5;
  transition: all ease-in-out .3s;
}
.subtitle{
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 80px;
  transition: all ease-in-out .3s;
}
.paragraph{
  max-width:1000px;
  color:var(--dark);
  font-size:18px;
  line-height:2;
  pointer-events: auto;
  transition: opacity ease-in-out .3s;
}
/*TEXT STYLE*/
.button{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: auto;
  max-width: 150px;
  margin-right: 0px;
  background-color: transparent;
  border: 0px solid black;
  transition: all ease-in-out .3s;
}
.ico{
  height:24px;
  width:24px;
  background-image: url('../img/xblack.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 16px;
  transform: rotate(0deg);
  transition: all 0.6s var(--cubic);
}
.ico-x{
  transform: rotate(135deg);
  transition: all 0.6s var(--cubic) !important;
}
.wrap{
  padding-left: var(--grid-margin-12);
  padding-right: var(--grid-margin-12);
}
.hide{
  opacity: 0;
  pointer-events: none;
}
/*SYSTEM */








/* ELEMENTS	*/
.perimeter{
  border: 1px solid #f95959;
}
.loader{
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  background-color: white;
}
.no-scroll{
  height: 100%;
  overflow: hidden;
}
/*header*/
.header-background{
  height: 1000px;
  width: 100%;
  position: fixed;
  z-index: 400;
  background-color: white;
  box-shadow: var(--shadow1);
  transform: translateY(-952px);
  transition: all 0.6s var(--cubic); /*all ease-in-out .6s;*/
}
.header-background-open{
  transform: translateY(-452px);
  transition: all 0.6s var(--cubic);
}
.header-ovl{
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 390;
  background-color:#5a5a6e;
  opacity: 0.7;
  transition: opacity ease-in-out .3s;
  cursor: pointer;
}
.header-ovl-hide{
  opacity: 0;
  pointer-events: none;
  transition: opacity ease-in-out .3s;
}
.header{
  height: 48px;
  width: 100%;
  position: fixed;
  z-index: 500;
  background-color: white;
  /*
  box-shadow: var(--shadow1);
  */
  padding-left: var(--grid-margin-12);
  padding-right: var(--grid-margin-12);
  transition: all ease-in-out .6s;
}
.headeropen{
  transition: all ease-in-out .6s;
}
.logo{
  margin-left: 0px;
  height: 48px;
  width:48px;
  background-color: var(--dark);
  background-image: url('../img/Triangle.svg');
  background-repeat: no-repeat;
  background-position: center bottom 13px;
  background-size: 50%;
  transition: all ease-in-out .3s;
}
.navbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: auto;
  max-width: 150px;
  margin-right: 0px;
  background-color: transparent;
  border: 0px solid black;
  transition: all ease-in-out .3s;
}
.hamburger{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16px;
  width: 24px;
  margin-left: 12px;
  transition: all ease-in-out .3s;
}
.hamburger-line{
  width: 100%;
  height: 2px;
  background-color: var(--dark);
  transition: all ease-in-out .3s;
}
.hamb-x1{
  transform: translate(0px,7px) rotate(45deg);
  transition: all ease-in-out .4s;
}
.hamb-x2{
  opacity: 0;
  transition: all ease-in-out .2s;
}
.hamb-x3{
  transform: translate(0px,-7px) rotate(-45deg);
  transition: all ease-in-out .4s;
}
.navlist{
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;
  height: auto;
  margin-top: 16px;
}
.lang-options{

}
/*header*/
/*landing*/
body{
  background-image: url('../img/whiteframe.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 40px;
}
.landing{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*
  background-image: url('../img/whiteframe.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  */
  height: 100vh;
  width: 100vw;
  padding-top:15%;
  padding-bottom: 64px;
  margin-bottom: 20vh;
}
.arrowicon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 0px solid black;
}
.arrow{
  height: 80px;
  width: 18px;
  margin-bottom: 12px;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  background-size:  contain;
  background-position: center center;
  transition: all ease-in-out .3s;
}
/*landing*/
/*services*/
.section{
  padding-top: 96px;
  padding-bottom: 200px;
}
.accordion{
  height:180px;
  width:100%;
  padding-left: 80px;
  padding-right: 80px;
  box-shadow:var(--shadow0);
  margin-bottom:32px;
  font-family: 'Poppins';
  font-size: 28px;
  font-weight: 200;
  border: 0px;
  background-color: white;
  transition: all 0.6s var(--cubic);
  /*-webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);  */
}
.accordion-open{
  height: 500px;
  transition: all 0.6s var(--cubic);

}
.accordion-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100%;
  width:100%;
  max-height: 180px;
  margin-top: 0px;
}
.accordion-label{
  transition: all ease-in-out .3s;
}
/*services*/
/*clients*/
.clientlogo-container{
  height:auto;
  width:100%;
  display: grid;
  grid-gap: auto;
  grid-template-columns: 100px 1fr 100px 1fr 100px;
}
.clientlogo{
  height: 100px;
  width: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  border: 0px solid var(--dark);
  position: relative;
}
.clientlogo::after{
  color: white;
  padding: 10px;
  border-radius: 4px;
  opacity: 1;
  position: absolute;
  transform: translateY(125px);
  background-color: var(--dark-hover);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.alkemy{
  background-image: url('../img/Alkemy.svg');
}
.alkemy::after{
  content: "Alkemy_digital_enabler";
  left: -56px;
  opacity: 0;
}
.trenord{
  background-image: url('../img/Trenord.svg');
}
.trenord::after{
  content: "Trenord";
  left: 1px;
  opacity: 0;
}
.vodafone{
  background-image: url('../img/Vodafone.svg');
}
.vodafone::after{
  content: "Vodafone";
  left: 2px;
  opacity: 0;
}
.blockzero{
  background-image: url('../img/Blockzero.svg');
}
.blockzero::after{
  content: "Blockzero";
  left: 2px;
  opacity: 0;
}
.electrolux{
  background-image: url('../img/Electrolux.svg');
}
.electrolux::after{
  content: "Electrolux";
  left: 2px;
  opacity: 0;
}
/*clients*/
/*about*/
.bio-container{
}
.biopic{
  height:30vw;
  width:30vw;
  background-color: var(--dark-hover);
  /*background-image: url('../img/gato.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border: 0px solid var(--dark-hover);
  box-shadow: var(--shadow0);
}
.biosummary{
  height:500px;
  width:50vw;
  padding: 120px;
  background-color: white;
  box-shadow: var(--shadow1);
  z-index: 10;
  top:var(--offsetbio-12);
  left:20vw;
  position: absolute;
}
/*about*/
/*fab*/
.fab{
  position: fixed;
  z-index: 350;
  bottom: 64px;
  right: 64px;
  height: 56px;
  width: 56px;
  padding-left: 16px;
  border-radius: 100px;
  background-color: var(--dark);
  box-shadow: var(--shadow2);
  border: 0px ;
  transition: all ease-in-out .3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fabicon{
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-image: url('../img/message.svg');
  background-repeat: no-repeat;
  background-size:  contain;
  background-position: center center;
  transform: rotate(-45deg);
  transition: all ease-in-out .3s;
}
.fablabel{
  transform: scaleX(0);
  opacity: 0;
  margin-right: 20px;
  transition: opacity ease-in-out .3s;
}
.fabopen{
  cursor: pointer;
  z-index: 650;
  width: 176px;
}
.fabiconopen{
  background-image: url('../img/x.svg');
  height: 24px;
  width: 24px;
  background-size:  contain;
  transition: all ease-in-out .3s;
}
.fablabelopen{
  transform: scaleX(1);
  opacity: 1;
}
/*fab*/
/*contatti*/
.contact{
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;
  height: auto;
  position: fixed;
  z-index: 600;
  bottom: 136px;
  right: 64px;
  height: auto;
  width: 350px;
  background-color: white;
  box-shadow: var(--shadow2);
  transition: all ease-in-out .3s;
}
.contact-ovl{
  height:100vh;
  width:100vw;
  top:0px;
  z-index:550;
  position:fixed;
  background-color:#5a5a6e;
  opacity: 0.7;
  transition: opacity ease-in-out .3s;
  cursor: pointer;
}
.contact-ovl-hide{
  opacity: 0;
  pointer-events: none;
  transition: opacity ease-in-out .3s;
}
.contact-ovl-bringback{
  z-index:340;
}
.contact-element{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 72px;
  cursor: pointer;
  transition: all ease-in-out .1s;
}
.contacticon{
  height: 24px;
  width: 24px;
  margin-left:24px;
  margin-right:24px;
  background-color: white;
  background-size: contain;
  background-position:  center;
  background-repeat: no-repeat;
  transition: all ease-in-out .1s;
}
.contactlabel{
  transition: all ease-in-out 0s;
}
/*contatti*/

/* ELEMENTS	*/










/* HOVER EFFECTS */
/*header*/
.logo:hover{
  cursor: pointer;
  background-color: var(--dark-hover);
}
.navbutton:hover{
  cursor: pointer;
}
.navbutton:hover .textlink{
  transform: translateX(4px);
  color: var(--dark-hover);
  transition: all ease-in-out .3s;
}
.navbutton:hover .hamburger-line{
  background-color:  var(--dark-hover);
}
.menulink:hover {
  opacity: .65;
  transition: all ease-in-out .3s;
}
.menulink:hover::after {
    transform: scaleX(1);
    transition: all ease-in-out .3s;
}
/*header*/
/*landing*/
.arrowicon:hover{
  cursor:pointer;
}
.arrowicon:hover .textlink{
  color: var(--dark-hover);
  transition: all ease-in-out .3s;
}
.arrowicon:hover .arrow{
  cursor: pointer;
  opacity: .65;
  transform: translateY(10px);
  transition: all ease-in-out .3s;
}
/*landing*/
/*services*/
.accordion:hover{
  cursor: pointer;
  /*box-shadow: 0px 8px 24px rgba(0, 0, 24, 0.16);*/
  transition: all 0.6s var(--cubic);
}
.accordion:hover .accordion-label{
  cursor: pointer;
  opacity: .6;
  transition: all ease-in-out .3s;
}
.accordion:hover .textlink{
  color: var(--dark-hover);
  transform: translateX(8px);
  transition: all ease-in-out .3s;
}
.accordion:hover .ico{
  opacity: .6;
  /*margin-left: 8px;*/
  transition: all 0.6s var(--cubic);
}
/*services*/
/*clients*/
.alkemy:hover::after{
  opacity: 1;
  transform: translateY(120px);
}
.trenord:hover::after{
  opacity: 1;
  transform: translateY(120px);
}
.vodafone:hover::after{
  opacity: 1;
  transform: translateY(120px);
}
.blockzero:hover::after{
  opacity: 1;
  transform: translateY(120px);
}
.electrolux:hover::after{
  opacity: 1;
  transform: translateY(120px);
}
/*clients*/
/*fab*/
.fab:hover{
  cursor: pointer;
  width: 176px;
  background-color: var(--dark-hover);
}
.fab:hover .fabicon{
  transform: rotate(0deg);
  transition: all ease-in-out .3s;
}
.fab:hover .fablabel{
  transform: scaleX(1);
  opacity: 1;
  transition: opacity ease-in-out .3s;
  transition-delay:.2s;
}
.fab:hover .fabiconopen{
  transform: rotate(45deg);
}
/*fab*/
/*contact*/
.contact-element:hover {
  cursor: pointer;
  background-color: var(--dark-hover);
  transition: all ease-in-out .1s;
}
.contact-element:hover .textlink{
  color: white;
  transition: all ease-in-out .0s;
}
.contact-element:hover .contacticon{
  background-color: var(--dark-hover);
  transition: all ease-in-out .1s;
}
.contact-element:hover .linkedin{
  background-image: url('../img/linkedinwhite.svg');
}
.contact-element:hover .instagram{
  background-image: url('../img/instawhite.svg');
}
.contact-element:hover .email{
  background-image: url('../img/emailwhite.svg');
}
/*contact*/
/* HOVER EFFECTS */










/* MEDIA QUERY*/
@media screen and (max-width: 840px) {
  .header{
    padding-left: var(--grid-margin-8);
    padding-right: var(--grid-margin-8);
  }
  .wrap{
    padding-left: var(--grid-margin-8);
    padding-right: var(--grid-margin-8);
   }
  .landing{
    padding-top:200px;
    padding-bottom: 30vh;
  }
  .title{
    font-size: 28px;
  }
  .subtitle{
    font-size: 24px;
    margin-bottom: 64px;
  }
  .paragraph{
    font-size:16px;
    line-height:1.5;
  }
  .section{
    padding-top: 80px;
    padding-bottom: 160px;
  }
  .accordion{
    height:168px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom:16px;
    font-size: 24px;
    transition: all 0.6s var(--cubic);
  }
  .accordion-open{
    height: 700px;
    transition: all 0.6s var(--cubic);
  }
  .accordion-wrap{
    max-height: 168px;
  }
  .fab{
    height: 40px;
    width: 176px;
    bottom: 24px;
    left: 0;
    right: 0;
    z-index: 200;
    margin-left: auto;
    margin-right: auto;
  }
  .fabopen{
    z-index: 650;
  }
  .fabicon{
    min-width: 20px;
    max-width: 20px;
    height: 20px;
    width: 20px;
    margin-left: 0px;
    background-image: url('../img/messagemb.svg');
    background-size: contain;
    background-position: top;
    transform: rotate(-45deg);
  }
  .fabiconopen{
    background-image: url('../img/xmb.svg');
  }
  .fablabel{
    transform: scaleX(1);
    opacity: 1;
  }
  .contact{
    justify-content: flex-start;
    padding-top: 30vh;
    right: 0px;
    bottom: 0px;
    height: 100vh;
    width: 100vw;
    transition: all ease-in-out .3s;
  }
  .contact-element{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px;
    cursor: pointer;
    transition: all ease-in-out .1s;
  }
  .contacticon{
    margin-left: 0px;
    margin-right: 8px;
  }
  .clientlogo-container{
    grid-template-columns: 100px 1fr 100px;
  }
  .clientlogo{
    background-size: 60%;
  }
}

@media screen and (max-width: 600px){
  .textlink{
    font-size: 12px;
  }
  .title{
    font-size: 20px;
  }
  .subtitle{
    font-size: 18px;
    margin-bottom: 40px;
  }
  .paragraph{
    font-size:14px;
  }
  .section{
    padding-top: 48px;
    padding-bottom: 96px;
  }
  .ico{
    height: 20px;
    width: 20px;
    margin-left: 12px;
    background-image: url('../img/xblackmb.svg');
  }
  .header-background{
    transform: translateY(-960px);
    transition: all 0.6s var(--cubic);
  }
  .header-background-open{
    transform: translateY(0px);
    transition: all 0.6s var(--cubic);
  }
  .header{
    padding-left: var(--grid-margin-4);
    padding-right: var(--grid-margin-4);
    height:40px;
  }
  .headeropen{
  }
  .logo{
    height: 40px;
    width: 40px;
    background-position: center bottom 11px;
  }
  .fab{
    height: 40px;
    width: 176px;
    bottom: 24px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .fabicon{
    height: 20px;
    width: 20px;
    margin-left: 0px;
    background-size: contain;
    background-position: top;
    transform: rotate(-45deg);
  }
  .fabiconopen{
    background-image: url('../img/x.svg');
  }
  .fablabel{
    transform: scaleX(1);
    opacity: 1;
  }
  .wrap{
    padding-left: var(--grid-margin-4);
    padding-right: var(--grid-margin-4);
  }
  .landing{
    padding-top:150px;
    padding-bottom: 30vh;
  }
  .contact{
    right: 0px;
    bottom: 0px;
    height: 100vh;
    width: 100vw;
    transition: all ease-in-out .3s;
  }
  .accordion{
    height:96px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom:16px;
    font-size: 16px;
    transition: all 0.6s var(--cubic);
  }
  .accordion-open{
    height: 500px;
    transition: all 0.6s var(--cubic);
  }
  .accordion-wrap{
    max-height: 96px;
  }
  .clientlogo-container{
    grid-template-columns: 1fr 1fr;
  }
  .clientlogo{
    margin-left:0px;
    background-size: 50%;

  }
}

@media screen and (max-height: 480px){
  .title{
    font-size: 20px;
  }
  .header-background-open{
    transform: translateY(0px);
    transition: all 0.6s var(--cubic);
  }
  .menulink{
    font-size: 16px;
    margin-top:20px;
  }
  .navlist{
    margin-top: 0px;
  }
  .landing{
    padding-top:120px;
  }
  .arrow{
    height: 48px;
  }
  .contact{
    padding-top: 10px;
  }
}
/* MEDIA QUERY*/










/* IMG	*/
.linkedin{
  background-image: url('../img/linkedin.svg');
}
.instagram{
  background-image: url('../img/insta.svg');
}
.email{
  background-image: url('../img/email.svg');
}
/* IMG	*/










/* ANIMATE CSS	*/

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
  z-index:-100;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 0;
    height: 100vh;
  }
  100%{
    opacity: 0;
    height: 0px;
  }
  z-index:-100;
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

/* ANIMATE CSS	*/
