/*
INDEX CSS DOC:
  -LAYOUT
  -FONTS
  -ELEMENTS
  -HOVER EFFECTS
  -MEDIA QUERIES
  -IMAGES
  -COLORS
*/




/*SETUP */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*SETUP */




/* LAYOUT	*/
html{
	height: 100%;
}
body{
  margin: 0px;
}
.perimeter{
  border: 2px solid #f95959;
}
/* LAYOUT	*/




/* FONTS	*/
.montserrat{
  font-family: 'Montserrat', sans-serif;
}
@font-face {
	font-family: "Montserrat";
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

.justify{
  text-align: justify;
}
.textcenter{
  text-align: center;
}
.text-left{
  text-align: left;
}
.bold{
	font-weight: bold;
}
.text-white{
  color: white;
}

/* FONTS	*/




/* ELEMENTS	*/
.wrap{
  height: 100%;
  margin-left:20%;
  margin-right:20%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.title{
  font-size: 32px;
  font-weight: 100;
  color: red;
}

.popup{
  transform-origin: center top;
  height: 0px;
  width: 0px;
  box-shadow: 0px 1px 7px #777;
  background-color: #fcfcfc;
  top: 0px;
  border: 0px solid #a29694;
  border-radius: 4px;
  -webkit-transition: height 0.2s cubic-bezier(.79,.14,.15,.86) 0.1s, width 0.2s cubic-bezier(.79,.14,.15,.86) 0.1s, box-shadow 0.7s cubic-bezier(.79,.14,.15,.86) 0.25s, top 0.2s cubic-bezier(.79,.14,.15,.86) 0.1s;
  transition: height 0.2s cubic-bezier(.79,.14,.15,.86) 0.1s, width 0.2s cubic-bezier(.79,.14,.15,.86) 0.1s, box-shadow 0.7s cubic-bezier(.79,.14,.15,.86) 0.25s, top 0.2s cubic-bezier(.79,.14,.15,.86) 0.1s;
}
@keyframes poptxt {
  from{opacity:0;}
  to{opacity: 1;}
}
/* ELEMENTS	*/




/* HOVER EFFECTS */
/* HOVER EFFECTS */




/* MEDIA QUERY*/
@media screen and (max-width: 600px){
}

@media screen and (max-width: 840px) {
  .title{
    font-size: 20px;
  }
}
/* MEDIA QUERY*/




/* IMG	*/
.image1{
  background-image: url('../img/chisiamo3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: ;
  background-size: cover;
}
/* IMG	*/




/* COLORS	  #2daf94, #3ec8ac, #4be4c5, #c8f6ed #ffce63 #faf15d #0aa0f6 #0e7cf4 #0962ea #44679f  #f95959*/
/* COLORS	*/




/* ANIMATE CSS	*/

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/* ANIMATE CSS	*/
